body{
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
line-height:1.5;
padding: 0;
margin: 0;
background-color:#e3e7ed;
color: #595959;
/*background-color:#c8cace*/;
}

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
.move_left{
  float: left;
}
.move_right{

  float: right;
}
ul{
  margin:0;
  padding:0;
  }
.button_1{
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.bar{
  width:450px;

}

.heading_cat{
  float:left;
  width:100px;
  color:#6a7b96;
  margin-right: 20px;
  margin-left: 20px;
}
hr{
border-color:  #3b5784;
}

/*Header*/
header{
  background:#35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
  }
  header #branding{
    float:left;
  }
  header #branding h1{
    margin:0;
  }
  header nav{
    float: right;
    margin-top: 10px;
  }
  header .highlight, header .current a{
    color:#3b5784;
    font-weight: bold;
  }
  header a:hover{
    color:#cccccc;
    font-weight: bold;
  }

  /*Show Case*/
#showcase{
  min-height: 400px;
  background: url('../img/showcase2.jpg') no-repeat 0 -1400px ;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  margin-left: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}



/* Contact Info*/
#contact_info .container{
  float:right;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:.8;
  padding:0;
  margin-top:10px;
  width:500px;
}

/*Branding Qualification*/
#branding_qualification h3{
  background: #3b5784;
  color:#ffffff;

}
/*Professional Summary*/
#professional_summary p{

  margin: 0 20px 40px 200px;

}


/*COMPETENCIES AND TECHNICAL CAPABILITIES*/
#competencies ul {
  list-style: none;
  margin:0 400px 0 20px;

}
#competencies ul li:before{
  content:'✓  ';

}
.straight {
  display:inline;
  padding: 0 20px 0 0;
}
.progress-bar{
  background:#3b5784;
}
#competencies .competencies_right{
    margin: 0 20px 40px 200px;
}

/* PROFESSIONAL AND INDUSTRY EXPERIENCE*/
#professional .professional_right{
    margin: 0 20px 40px 200px;
}

#professional ul {
  list-style: none;
  margin:0 350px 0 20px;
}
#professional ul li:before{
  content:'✓  ';
}

/*PROFESSIONAL AND INDUSTRY EXPERIENCE*/
#self_development .development_right{
  margin: 0 20px 40px 200px;

}
/*VOLUNTARY & CIVIL PARTICIPATION*/
#participation .participation_right{
    margin: 0 20px 40px 200px;
}
/* PERSONAL ACHIEVEMENTS*/

#achievements .achievements_right{
  margin: 0 20px 40px 200px;
}

#achievements ul {
  list-style: none;
  margin:0 350px 0 10px;
}
#achievements ul li:before{
  content:'✓  ';
}
/*References*/
#references .references_right{
  margin: 0 20px 40px 200px;
}

/*Newsletter*/
#newsletter{
  padding: 15px;
  color:#ffffff;
  background: #35424a;
}
#newsletter h1{
float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 38px;
  width: 250px;
}
/*Boxes*/
#boxes{
  margin-top: 20px;

}
#boxes .box {
  float:left;
  width:30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
